#git+https://github.com/cobbn/pyrofork2.2.11
aiohttp
aiofiles
aioshutil
anytree==2.8.0
apscheduler
aria2p
asyncio
beautifulsoup4
bencoding
cinemagoer
cloudscraper
dnspython
feedparser
flask
gevent
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
gunicorn
httpx
langcodes[data]
lxml
motor
mutagen
markdown
natsort
pillow
psutil
pybase64
pyroblack
tgcrypto-pyroblack
pycountry
pytz
#pyroblack
python-dotenv
pyshorteners
python-magic
quoters
qbittorrent-api
requests
speedtest-cli
telegraph
tenacity
#tgcrypto<=1.2.3
uvloop
xattr
yt-dlp[default,curl-cffi]
